body{
    background-color: white;
}

.contenedor{
    width: 330px;
    height: 330px;
    margin: 0 auto;
    background-color: #39630C;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px ;
    grid-auto-flow: column;
    gap: 30px;
    place-content: center;
}

.item{
    font-size: 3rem;
    background-color: #ACD900;
    display: grid;
    justify-items: end;
    align-items: end;
}

.item span{
    background-color: #61A91D;
    color:#61A91D;
    width: 50px;
    height: 60px;
}



